*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: mediumpurple;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: mediumpurple;
    transition: .4s;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20 px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: mediumpurple;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380 px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid mediumpurple;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: mediumpurple;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.about img{
    height: auto;
    width: 350px;
}

.about-text{
    width: 900px;
}

.main{
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    margin-top: 50px;
}

.about-text p{
    color: mediumpurple;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
    text-justify: inter-word;
}

button{
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid mediumpurple;
    cursor: pointer;
}

.contact{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 500px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #f9004d;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid mediumpurple;
    cursor: pointer;
}

.bottom{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bottom p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.bottom .button-two{
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.bottom .button-two:hover{
    background-color: transparent;
    border: 2px solid mediumpurple;
    cursor: pointer;
}

.shop{
    padding: 100px 0px;
    background-color: #191919;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.about-shop h6{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about-shop h5{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.shop-bottom{
    width: 100%;
    height: 290px;
    background: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.shop-bottom p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.shop-bottom .button-two{
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.shop-bottom .button-two:hover{
    background-color: transparent;
    border: 2px solid mediumpurple;
    cursor: pointer;
}

.filter{
    background: rgb(105, 82, 153);
}

th{
    background: rgb(128, 9, 82);
}

.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 43%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 600px;
    height: auto;
}

#r1:checked ~ .s1{
    margin: 0;
}

#r2:checked ~ .s1{
    margin: -350;
}

#r3:checked ~ .s1{
    margin: -700;
}

#r4:checked ~ .s1{
    margin: -1050;
}

#r5:checked ~ .s1{
    margin: -1400;
}

#r6:checked ~ .s1{
    margin: -1750;
}

.btn{
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.about .btn:hover{
    transform: scale(1.2);
}